#content-area {
    transition: margin-left 0.5s;
    margin-left: 280px;
    padding: 15px;
    width: 100%;
    .heading {
        h1 {
            color: purple;
            font-size: 1.4rem;
            font-weight: 400;
            margin-bottom: 10px;
            margin-left: 10px;
        }
        p {
            color: #1b1b1b;
            font-size: 0.8rem;
            margin-bottom: 10px;
            margin-left: 10px;
        }
    }
    .cards {
        overflow: auto;
        margin-bottom: 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        .card {
            background: #fff;
            border-radius: 5px;
            padding: 20px;
            overflow: auto;
            .user-img {
                background: url("https://tinyfac.es/data/avatars/282A12CA-E0D7-4011-8BDD-1FAFAAB035F7-200w.jpeg") no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                width: 115px;
                height: 115px;
                border-radius: 50%;
                margin: 0 auto;
            }
            .user-name {
                font-size: 1 rem;
                color: purple;
                display: block;
                text-align: center;
                margin: 10px 0;
            }
            .user-title {
                display: block;
                font-size: 0.8rem;
                text-align: center;
                margin: 10px 0;
            }
            .education {
                font-size: .8rem;
                display: inline-block;
                color: gray;
                text-align: center;
            }
            .schools {
                font-size: .8rem;
                display: block;
                margin-bottom: .5rem;
            }
            h6 {
                font-size: .8rem;
            }
            .date {
                font-size: 1.3rem;
                display: block;
                border-left: 5px solid $greenNeon;
                position: relative;
                left: -20px;
                padding: 5px 40px;
                margin: 20px 0;
            }
            .job-type {
                background: orange;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-size: .6rem;
                color: white;
                padding: 5px;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
            }
            .location {
                font-size: .8rem;
                font-weight: 300;
                display: block;
                margin-bottom: .5rem;
            }
            .position {
                font-size: .8rem;
                font-weight: 500;
                display: block;
                margin-bottom: .5rem;
            }
            .time {
                font-size: .8rem;
                font-weight: 300;
                display: block;
                color: gray;
            }
        }
    }
}

.col-md-2 {
    // width: 16.67%;
    padding: 0 15px;
    // display: inline-block;
    float: left;
}

.col-md-3 {
    // width: 25%;
    padding: 0 15px;
    //display: inline-block;
    float: left;
}

.col-md-4 {
    // width: 33.33%;
    padding: 0 15px;
    //display: inline-block;
    float: left;
}

.col-md-9 {
    // width: 75%;
    padding: 0 15px;
    //display: inline-block;
    float: left;
}

.col-md-10 {
    // width: 83.33%;
    padding: 0 15px;
    // display: inline-block;
    float: left;
}

@media (max-width: 768px) {
    .col-md-4 {
        padding-bottom: 20px;
    }
}