@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";
@import "content-area";
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: $greyLightBG;
}

#sideMenu {
    .site-name {
        color: whitesmoke;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        transition: 0s;
        pointer-events: none;
        position: relative;
        bottom: 33px;
    }
    background: $purpleLight;
    width: 280px;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    transition: 0.5s;
    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 36px;
        margin-left: 50px;
    }
    nav {
        padding-top: 100px;
        a {
            display: block;
            color: $greyDarkBG;
            text-decoration: none;
            padding: 15px 30px;
            font-weight: 300;
            transition: all 0.3s ease-in-out;
            &:hover {
                background: $purpleDark;
                border-left: 5px solid $greenNeon;
                padding: 15px 30px 15px 25px;
                .fa {
                    color: $greenNeon;
                }
            }
            .fa {
                color: $greyDarkBG;
                font-size: 1.4rem;
                margin-right: 0.8rem;
                display: inline-block;
                width: 30px;
                position: relative;
                top: 2px;
            }
            &.active {
                background: $purpleDark;
                border-left: 5px solid $greenNeon;
                padding: 15px 30px 15px 25px;
                .fa {
                    color: $greenNeon;
                }
            }
        }
    }
}

header {
    padding: 10px;
    background: #fff;
    transition: margin-left 0.5s;
    .search-area {
        display: inline-block;
        width: 50%;
        padding-left: 30px;
        .fa {
            color: gray;
        }
        input[type="text"] {
            background: #fff;
            border: none;
            font-size: 1.2rem;
            color: $greenNeon;
            padding: 10px;
            font-weight: 100;
            width: 80%;
            transition: all 0.5s ease-in-out;
            &:hover {
                background: $greyLightBG;
            }
        }
    }
    .open-slide {
        padding-left: 280px;
    }
    .user-area {
        //display: inline-block;
        float: right;
        padding: 10px;
        a {
            color: #1b1b1b;
            display: inline-block;
            padding-right: 20px;
            text-decoration: none;
            vertical-align: top;
            height: 30px;
            &.add {
                font-size: 16px;
                font-weight: 500;
                padding-top: 7px;
            }
            &.notification {
                position: relative;
                font-size: 20px;
                padding-top: 5px;
                .circle {
                    background: red;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 11px;
                    color: white;
                    text-align: center;
                    position: absolute;
                    top: 2px;
                    left: 10px;
                }
            }
            .user-img {
                background: url("https://tinyfac.es/data/avatars/282A12CA-E0D7-4011-8BDD-1FAFAAB035F7-200w.jpeg") no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                width: 30px;
                height: 30px;
                display: inline-block;
                border-radius: 50%;
                margin-right: 10px;
            }
            .fa-caret-down {
                position: relative;
                top: -8px;
            }
        }
    }
}

input:active,
input:focus,
textarea:focus {
    background: $greyLightBG;
    outline: none;
}

@media (max-width: 760px) {
    #sideMenu {
        padding-top: 2px;
        position: fixed;
    }
    #header {
        margin-right: 0;
        .search-area {
            width: 20%;
        }
    }
}